@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');

.body {
    margin: 0;
   font-family: "Playfair Display", serif, 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.body h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.body h1{
    font-family: "Playfair Display", serif;
    color:#333333;
    font-size: 24px;
}

.body a, p{
    font-weight: 400;
    color:#333333;
}

.body a{
    font-family: "Playfair Display", serif;
}

.body p{
    font-size: 14px;
    font-weight: 300;
    color: #63686e;
    font-family: 'Open Sans', sans-serif;
}

.body form input{
    padding: 16px 22px;
    height: 56px;
    font-size: 16px;
    font-weight: 300;
    color: #212529;
    font-family: 'Open Sans', sans-serif;
}

.body form textarea{
    padding: 16px 22px;
    height: 178px;
    font-size: 16px;
    font-weight: 300;
    color: #212529;
    font-family: 'Open Sans', sans-serif;
}
.body form button{
    background-color: #2b2b2b;
    padding: 12px;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    margin: 15px 0;
}

.body form button:hover{
    background: #383838;
}

@media screen and (min-width: 992px){
    .body h1{
        font-size: 30px;
        
    }

    .body form{
        margin:0 70px;
    }
  }